.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jahnik-img {
    border: 10px solid black;
    opacity: 1;
    animation: fade 2s linear;
    animation-iteration-count: infinite;
}

h1 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes fade {
  0%, 100% { opacity: 0 }
  50% { opacity: 1 }
}
