html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


.main-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jahnik-img {
    width: 80%;
    border: 10px solid black;
    opacity: 1;
    animation: fade 10s linear;
    animation-iteration-count: infinite;
}
@media (min-width: 1024px) {
    .jahnik-img {
        width: 600px;
    }
}

h1 {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

@keyframes fade {
  0%, 100% { opacity: 0 }
  50% { opacity: 1 }
}
